/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
/public/css
/public/js
/public/angular2
/public/es6-promise
/public/es6-shim
/public/rxjs/
/public/systemjs/
/public/typescript/
/public/zone.js/
/public/semantic/
/public/jquery/
/public/bootstrap
/public/fonts
/public/uikit
/bower_components
.env
