<p></p>

<div class="uk-panel uk-panel-box">
    <h3 class="uk-panel-title">Change Password</h3>

    <form class="uk-form uk-form-stacked" [formGroup]="password_form" >
    	<fieldset>
             <div class="uk-form-row">
                <label class="uk-form-label" for="form-s-ip">Old Password:</label>
                <input type="text" class="uk-form-width-large"  name="">
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label" for="form-s-ip">New Password:</label>
                <input type="text" class="uk-form-width-large"  name="">
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label" for="form-s-ip">Conform New Password:</label>
                <input type="text" class="uk-form-width-large"  name="">
            </div>
        </fieldset>
        <p></p>
    	<fieldset>
    	    <div class="uk-form-row">
    	        <input  type="submit" value="Update Password" class="uk-button">
    	    </div>
    	</fieldset>
    </form>

</div>

