 <header class="navigation" role="banner">
          <nav class="uk-navbar ">
            <div class="uk-width-medium-3-4 uk-container-center">
              <a class="uk-navbar-brand">Cubesat Database</a>
              <ul class="uk-navbar-nav">
                  <li><a routerLink="/home">Home</a></li>
                  <li><a routerLink="/home">Cubesats</a></li>
                  <li><a routerLink="/home">Missions</a></li>
                  <li><a routerLink="/home">Vendors</a></li>
                  <li><a routerLink="/home">Components</a></li>
              </ul>

              <ul class="uk-navbar-nav">
                  <li><a routerLink="/login">Login</a></li>
                  <li><a routerLink="/register">Register</a></li>
              </ul>

              <ul class="uk-navbar-nav uk-navbar-content uk-navbar-flip  uk-hidden-small">
                <li class="uk-parent" data-uk-dropdown>
                    <a href=""> <img class="profile-img" src="./../assets/blank_profile.png"></a>
                    <div class="uk-dropdown uk-dropdown-navbar">
                        <ul class="uk-nav uk-nav-navbar">
                            <li><a  routerLink="/profile">Profile</a></li>
                             <li><a routerLink="/admin">Admin</a></li>
                             <li><a >Logout</a></li>
                        </ul>
                    </div>
                </li>
              </ul>
            </div>
          </nav>
    </header>
    <div class="main-container">
        <router-outlet></router-outlet>
    </div>