<div class="uk-grid">
  <div class="uk-width-1-4">
    <!-- <form class="uk-form" [formGroup]="componentSearchForm">  -->

      <div class="uk-panel-box">
        <input class="uk-search-field uk-width-1-1" type="search" placeholder="">
        <p></p>
        <div class="uk-accordion cheveron-accordion" data-uk-accordion>
          <h3 class="uk-accordion-title"><i ></i>Vendors</h3>
          <div class="uk-accordion-content">
              <ul class="uk-list">
                <li>
                  <input type="checkbox"> Vendor 1
                </li>
                <li>
                  <input type="checkbox"> Vendor 2
                </li>
                <li>
                  <input type="checkbox"> Vendor 3
                </li>
              </ul>
           </div>
        </div>


        <div class="uk-accordion cheveron-accordion" data-uk-accordion>
        <h3 class="uk-accordion-title"><i ></i>Category</h3>
          <div class="uk-accordion-content">
              <ul class="uk-list">
                <li>
                  <input type="checkbox"> Vendor 1
                </li>
                <li>
                  <input type="checkbox"> Vendor 2
                </li>
                <li>
                  <input type="checkbox"> Vendor 3
                </li>
              </ul>
           </div>
        </div>
      </div>


    <!-- </form> -->
  </div>
  <div class="uk-width-3-4">
     <div class="uk-grid uk-grid-small">
            <div class="uk-width-1-4">
              <component-icon-component></component-icon-component>        
            </div>
            <div class="uk-width-1-4">
              <component-icon-component></component-icon-component>        
            </div>
            <div class="uk-width-1-4">
              <component-icon-component></component-icon-component>        
            </div>
            <div class="uk-width-1-4">
              <component-icon-component></component-icon-component>        
            </div>
             <div class="uk-width-1-4">
              <component-icon-component></component-icon-component>        
            </div>
             <div class="uk-width-1-4">
              <component-icon-component></component-icon-component>        
            </div>
             <div class="uk-width-1-4">
              <component-icon-component></component-icon-component>        
            </div>
             <div class="uk-width-1-4">
              <component-icon-component></component-icon-component>        
            </div>
             <div class="uk-width-1-4">
              <component-icon-component></component-icon-component>        
            </div>
             <div class="uk-width-1-4">
              <component-icon-component></component-icon-component>        
            </div>
  </div>
</div>