<div class="uk-grid  uk-grid-small">
  <div class="uk-width-1-4">
      <div class="uk-panel-box">
       <a routerLink="./Antenna System"><h4>Antenna System <i class="uk-icon-angle-right uk-float-right" ></i></h4></a>
       <a routerLink="./Attitude Actuators"><h4>Attitude Actuators <i class="uk-icon-angle-right uk-float-right" ></i></h4></a>
       <a routerLink="./Attitude Sensors"><h4>Attitude Sensors <i class="uk-icon-angle-right uk-float-right" ></i></h4></a>
       <a routerLink="./Camera & Payload"><h4>Camera & Payload <i class="uk-icon-angle-right uk-float-right" ></i></h4></a>
       <a routerLink="./Solar Panels & Power"><h4>Solar Panels & Power <i class="uk-icon-angle-right uk-float-right" ></i></h4></a>

      </div>
  </div>
  <div class="uk-width-3-4">
    
      <div class="component-title-group">
        <div class="title-group uk-width-1-1"> Camera Payloads </div>
        <div class="component-group">
          <div class="uk-grid  uk-grid-small">
            <div class="uk-width-1-4">
              <component-icon-component></component-icon-component>        
            </div>
            <div class="uk-width-1-4">
              <component-icon-component></component-icon-component>        
            </div>
            <div class="uk-width-1-4">
              <component-icon-component></component-icon-component>        
            </div>
            <div class="uk-width-1-4">
              <component-icon-component></component-icon-component>        
            </div>
          </div>
        </div>
      </div>

      <div class="component-title-group">
        <div class="title-group"> Antenna Systems </div>
        <div class="component-group">
          <div class="uk-grid  uk-grid-small">
            <div class="uk-width-1-4">
              <component-icon-component></component-icon-component>        
            </div>
            <div class="uk-width-1-4">
              <component-icon-component></component-icon-component>        
            </div>
            <div class="uk-width-1-4">
              <component-icon-component></component-icon-component>        
            </div>
            <div class="uk-width-1-4">
              <component-icon-component></component-icon-component>        
            </div>
          </div>
        </div>
      </div>

      <div class="component-title-group">
        <div class="title-group"> Solar Panels </div>
        <div class="component-group">
          <div class="uk-grid  uk-grid-small">
            <div class="uk-width-1-4">
              <component-icon-component></component-icon-component>        
            </div>
            <div class="uk-width-1-4">
              <component-icon-component></component-icon-component>        
            </div>
            <div class="uk-width-1-4">
              <component-icon-component></component-icon-component>        
            </div>
            <div class="uk-width-1-4">
              <component-icon-component></component-icon-component>        
            </div>
          </div>
        </div>
      </div>


    </div>
</div>