<div class="uk-width-medium-3-4  uk-container-center ">
    <ul class="uk-slideshow" data-uk-slideshow="{autoplay:true}">
        <li><img src=" http://placehold.it/350x150" width="800" height="280" alt=""></li>
        <li><img src=" http://placehold.it/500x180" width="800" height="280" alt=""></li>
        <li><img src=" http://placehold.it/1280x720" width="800" height="280" alt=""></li>
    </ul>

    <p></p>


    <div class="uk-grid tm-grid-truncate" data-uk-grid-margin="">
        <div class="uk-width-medium-1-3 uk-row-first">
            <div class="uk-panel uk-panel-box uk-panel-box-secondary">
                <h3 class="uk-panel-title">Title</h3>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. <code>.uk-panel-box-secondary</code>
            </div>
        </div>
        <div class="uk-width-medium-1-3">
            <div class="uk-panel uk-panel-box uk-panel-box-secondary">
                <h3 class="uk-panel-title">Title</h3>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. <code>.uk-panel-box-secondary</code>
            </div>
        </div>
        <div class="uk-width-medium-1-3">
            <div class="uk-panel uk-panel-box uk-panel-box-secondary">
                <h3 class="uk-panel-title">Title</h3>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. <code>.uk-panel-box-secondary</code>
            </div>
        </div>
    </div>

</div>