
<div class="uk-width-medium-1-2  uk-container-center uk-panel uk-panel-box">
	<h1>Login</h1>
	<!--form class="uk-form uk-form-stacked">
		<div class="uk-form-row">
			<label class="uk-form-label" for="form-s-ip">Login</label>
			<div class="uk-form-controls">
				<input type="text" placeholder="" class="uk-form-width-large">
			</div>
		</div>
		<div class="uk-form-row">
			<label class="uk-form-label" for="form-s-ip">Password</label>
			<div class="uk-form-controls">
				<input type="password" placeholder="" class="uk-form-width-large">
			</div>
		</div>
		<div class="uk-form-row">
			<input  type="submit" value="Login" class="uk-button">
		</div>
	</form-->
</div>
