<form class="uk-form">

    <fieldset data-uk-margin>
        <input type="text" placeholder="Search">
        <select>
            <option>Mission</option>
            <option>Satellite</option>
        </select>
        <button class="uk-button">Search</button>
    </fieldset>
</form>

<div class="uk-overflow-container">
    <table class="uk-table uk-table-hover">
        <thead>
            <tr>
                <th>Organization</th>
                <th>Mission</th>
                <th>Name</th>
                <th>Type</th>
                <th>Mass</th>
                <th>Launch Vehicle</th>
            </tr>
        </thead>
<!--         <tfoot>
            <tr>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
            </tr>
        </tfoot> -->
        <tbody>

        </tbody>
    </table>
</div>