//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/bourbon/app/assets/stylesheets/bourbon";
@import "node_modules/bourbon-neat/app/assets/stylesheets/neat";
@import "./header";
@import "./table";


$dark-gray: #333 !default;


body{
	margin: 0px;
	font-family: $helvetica;
}