@mixin cubesat-button-small($font-size: 1em) {
	@include transition (all 0.2s ease-in-out);
	
	background: lighten($base-color, 10);
	border-radius: 3px;
	border: 1px solid $base-color;
	color: $base-font-color;
	outline: none;
	padding: (1.5em / 4) ($gutter / 2);
	text-decoration: none;
	font-size: $font-size;

	&:hover,
	&:focus {
		background: lighten($base-color, 5);
		color:  #477DCA;
	}

	&:active {
		background: $base-color;
	}

}

.cubesat-button-small
{
	@include cubesat-button-small(1em);
}

.cubesat-button-medium
{
	@include cubesat-button-small(1.2em);
}

.cubesat-button-large
{
	@include cubesat-button-small(2em);
}