table.table{
	$table-divider-color: gainsboro;
	@include margin(0.5em 0em);
	width:100%;
	max-width:100%;
	border-spacing: 0.5rem;
	border-collapse: collapse;
	@include padding(0em 1em);

	&.stripped tbody{
		tr {
			background-color:lighten($base-color,10);
		}
		tr:nth-child(even) {
			background-color: lighten($base-color,8);
		}
	}

	&.hover tbody>tr:hover
	{
		background-color:lighten($base-color,3);
	}

	td , th
	{

		 @include border-width(1px);
		 @include border-color($base-color);
		 @include border-style(solid solid solid solid);
		 @include padding(.6em .5em .6em .9em);

	}
}
