.well{
	.justified{
		 @include display(flex);
  		 @include justify-content(space-between);
  		 @include clearfix;
	}

	background: $base-color-2;
	border-radius: $base-border-radius;
	border: 2px solid $base-border-color;
	padding: ($gutter/4) ($gutter / 2);
	width: 100%;
}