<div class="uk-width-medium-3-4  uk-container-center ">
    <ul class="uk-slideshow" data-uk-slideshow="{autoplay:true}">

    </ul>

    <p>This is some text sdfgsdf </p>


    <div class="uk-grid tm-grid-truncate" data-uk-grid-margin="">
        <div class="uk-width-medium-1-3 uk-row-first">
            <div class="uk-panel uk-panel-box uk-panel-box-secondary">
                <h3 class="uk-panel-title">Title 2</h3>
                Lorem ipsum dolor sit amet, conasdfa dfasd fsdfsectetur adipisicing elit. <code>.uk-panel-box-secondary</code>
            </div>
        </div>
        <div class="uk-width-medium-1-3">
            <div class="uk-panel uk-panel-box uk-panel-box-secondary">
                <h3 class="uk-panel-title">Title 3 </h3>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. <code>.uk-panel-box-secondary</code>
            </div>
        </div>
        <div class="uk-width-medium-1-3">
            <div class="uk-panel uk-panel-box uk-panel-box-secondary">
                <h3 class="uk-panel-title">Title5</h3>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. <code>.uk-panel-box-secondary</code>
            </div>
        </div>
    </div>

</div>