<!DOCTYPE html>
<html lang="en" class="h-full light">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% for p in manifest().resolve_css("web/index.ts") %}
            <link rel="stylesheet" crossorigin  href="{{base_uri()}}/static/{{p}}"></link>
        {% endfor %}
        {% for p in manifest().resolve_js("web/index.ts") %}
            <script type="module" scrossorigin src="{{base_uri()}}/static/{{p}}"></script>
        {% endfor %}
        <title>{{title()}}</title>
        {% block header %} {% endblock %}  
    </head>

    <body class="h-full bg-black text-white" >
      {% block content %} {% endblock %}   
    </body>
</html>


