<header class="navigation" role="banner">
      <nav class="uk-navbar ">
        <div class="uk-width-medium-3-4 uk-container-center">
          <a class="uk-navbar-brand">Cubesat Database</a>
          <ul class="uk-navbar-nav">
              <li><a [routerLink]="['Home']">Home</a></li>
              <li><a [routerLink]="['CubesatList']">Cubesats</a></li>
              <li><a [routerLink]="['MissionList']">Missions</a></li>
              <li><a [routerLink]="['VendorList']">Vendors</a></li>
              <li><a [routerLink]="['ComponentList']">Components</a></li>

          </ul>
          <ul class="uk-navbar-nav uk-navbar-content uk-navbar-flip  uk-hidden-small">
            <li class="uk-parent" data-uk-dropdown>
                <a href=""> <img class="profile-img" src="./../assets/blank_profile.png"></a>
                <div class="uk-dropdown uk-dropdown-navbar">
                    <ul class="uk-nav uk-nav-navbar">
                        <li><a href="">Profile</a></li>
                         <li><a href="">Admin</a></li>
                         <li><a href="">Logout</a></li>
                    </ul>
                </div>
            </li>
          </ul>
        </div>
      </nav>
</header>
<div class="main-container">
    <router-outlet></router-outlet>
</div>

<footer class="footer" role="contentinfo">
  <div class="footer-logo">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo image">
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>Content</h3></li>
      <li><a href="javascript:void(0)">About</a></li>
      <li><a href="javascript:void(0)">Contact</a></li>
      <li><a href="javascript:void(0)">Products</a></li>
    </ul>
    <ul>
      <li><h3>Follow Us</h3></li>
      <li><a href="javascript:void(0)">Facebook</a></li>
      <li><a href="javascript:void(0)">Twitter</a></li>
      <li><a href="javascript:void(0)">YouTube</a></li>
    </ul>
    <ul>
      <li><h3>Legal</h3></li>
      <li><a href="javascript:void(0)">Terms and Conditions</a></li>
      <li><a href="javascript:void(0)">Privacy Policy</a></li>
    </ul>
  </div>

  <hr>

  <p>Disclaimer area lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nostrum repudiandae saepe.</p>
</footer>

