<header class="navigation" role="banner">
    <div class="navigation-wrapper">
        <a (click)="expand()" class="navigation-menu-button">MENU</a>
        <a class="logo">
                        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png" alt="Logo image">
                    </a>
        <nav>
            <ul class="navigation-menu">
                <li class="nav-link"><a [routerLink]="['Home']">Home</a></li>
                <li class="nav-link"><a [routerLink]="['CubesatList']">Cubesats</a></li>
                <li class="nav-link"><a [routerLink]="['MissionList']">Missions</a></li>
                <li class="nav-link"><a [routerLink]="['VendorList']">Vendors</a></li>
                <li class="nav-link"><a [routerLink]="['ComponentList']">Components</a></li>
            </ul>
        </nav>
        <nav class="right-bar">
            <ul class="navigation-menu">
                <li class="nav-link"><a [routerLink]="['Login']">Login</a></li>
                <li class="nav-link"><a [routerLink]="['Register']">Register</a></li>
            </ul>
        </nav>
    </div>
</header>
    <router-outlet></router-outlet>

<footer class="footer" role="contentinfo">
  <div class="footer-logo">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo image">
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>Content</h3></li>
      <li><a href="javascript:void(0)">About</a></li>
      <li><a href="javascript:void(0)">Contact</a></li>
      <li><a href="javascript:void(0)">Products</a></li>
    </ul>
    <ul>
      <li><h3>Follow Us</h3></li>
      <li><a href="javascript:void(0)">Facebook</a></li>
      <li><a href="javascript:void(0)">Twitter</a></li>
      <li><a href="javascript:void(0)">YouTube</a></li>
    </ul>
    <ul>
      <li><h3>Legal</h3></li>
      <li><a href="javascript:void(0)">Terms and Conditions</a></li>
      <li><a href="javascript:void(0)">Privacy Policy</a></li>
    </ul>
  </div>

  <hr>

  <p>Disclaimer area lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nostrum repudiandae saepe.</p>
</footer>

