<header class="navigation" role="banner">
    <div class="navigation-wrapper">
        <a (click)="expand()" class="navigation-menu-button">MENU</a>
        <a class="logo">
                        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png" alt="Logo image">
                    </a>
        <nav>
            <ul class="navigation-menu">
                <li class="nav-link"><a [routerLink]="['Home']">Home</a></li>
                <li class="nav-link"><a [routerLink]="['CubesatList']">Cubesats</a></li>
                <li class="nav-link"><a [routerLink]="['MissionList']">Missions</a></li>
                <li class="nav-link"><a [routerLink]="['VendorList']">Vendors</a></li>
                <li class="nav-link"><a [routerLink]="['ComponentList']">Components</a></li>
            </ul>
        </nav>
        <nav class="right-bar">
            <ul class="navigation-menu">
                <li class="nav-link"><a [routerLink]="['Login']">Login</a></li>
                <li class="nav-link"><a [routerLink]="['Register']">Register</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="main-container">
    <router-outlet></router-outlet>
</div>
