 <h1>component</h1>
<div *ngIf="pagination" >
	
<table class="table table-hover">
  <thead>
    <tr>
  		<th>id</th>
  		<th>formal-specification</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="pagination" *ngFor="#row of pagination.data">
    	<th scope="row" (click)="selectComponent(row)">{{row?.id}}</th>
		  <td (click)="selectComponent(row)">{{row?.formal_specification}}</td>
    </tr>
  </tbody>
</table>

</div>
<pagination [pageinator]="pagination" (page_change)="onPageChange($event)" ></pagination>