<!-- <div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="pull-right">
                <button type="button" class="btn btn-success">Edit</button>
            </div>
        </div>
    </div>
 -->
<div class="well">
    this is a test

</div>

<div class="row">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis consequat eros. Aenean id malesuada purus. Donec quis fringilla risus, egestas blandit enim. Morbi in eros a erat facilisis pretium id quis felis. Fusce in lacus vitae neque ullamcorper hendrerit vel eu risus. Nunc quam lorem, semper at vulputate sed, feugiat non risus. Pellentesque nec nulla eleifend, finibus mi eget, eleifend metus. Nullam laoreet felis felis, non rhoncus risus feugiat sed. Nunc nisl lectus, dictum vel ante vitae, volutpat sodales lorem. Vestibulum nunc nibh, tristique vitae mattis ut, faucibus a ante. Sed sed velit eu diam dapibus efficitur. Morbi vulputate velit non purus vehicula sodales. Aliquam at lectus tincidunt felis ultrices finibus et ut erat. Phasellus volutpat, ligula ac auctor volutpat, orci augue maximus eros, eu volutpat turpis erat id ipsum.
</div>
<div class="state-list">
    <div class="state">
        <div class="list-group">
            <a href="#" class="list-group-item active">
			  	Dapibus ac facilisis in <span class="label label-default">10/13/16</span>
			  </a>
            <a href="#" class="list-group-item">Dapibus ac facilisis in <span class="label label-default">10/13/16</span></a>
            <a href="#" class="list-group-item">Dapibus ac facilisis in <span class="label label-default">10/13/16</span></a>
            <a href="#" class="list-group-item">Dapibus ac facilisis in <span class="label label-default">10/13/16</span></a>
            <a href="#" class="list-group-item">Dapibus ac facilisis in <span class="label label-default">10/13/16</span></a>
        </div>
    </div>
    <div class="state-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis consequat eros. Aenean id malesuada purus. Donec quis fringilla risus, egestas blandit enim. Morbi in eros a erat facilisis pretium id quis felis. Fusce in lacus vitae neque ullamcorper hendrerit vel eu risus. Nunc quam lorem, semper at vulputate sed, feugiat non risus. Pellentesque nec nulla eleifend, finibus mi eget, eleifend metus. Nullam laoreet felis felis, non rhoncus risus feugiat sed. Nunc nisl lectus, dictum vel ante vitae, volutpat sodales lorem. Vestibulum nunc nibh, tristique vitae mattis ut, faucibus a ante. Sed sed velit eu diam dapibus efficitur. Morbi vulputate velit non purus vehicula sodales. Aliquam at lectus tincidunt felis ultrices finibus et ut erat. Phasellus volutpat, ligula ac auctor volutpat, orci augue maximus eros, eu volutpat turpis erat id ipsum.
    </div>
</div>
<div class="row">
    <h2>Components</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>id</th>
                <th>formal-specification</th>
                <th>vendor</th>
            </tr>
        </thead>
        <tbody>
            <!-- <tr *ngIf="pagination" *ngFor="#row of pagination.data">
					<th scope="row" (click)="selectComponent(row)">{{row?.id}}</th>
					<td (click)="selectComponent(row)">{{row?.formal_specification}}</td>
				</tr> -->
            <tr>
                <th>12</th>
                <td>some part</td>
                <td>vendor</td>
            </tr>
            <tr>
                <th>12</th>
                <td>some part</td>
                <td>vendor</td>
            </tr>
            <tr>
                <th>12</th>
                <td>some part</td>
                <td>vendor</td>
            </tr>
            <tr>
                <th>12</th>
                <td>some part</td>
                <td>vendor</td>
            </tr>
            <tr>
                <th>12</th>
                <td>some part</td>
                <td>vendor</td>
            </tr>
            <tr>
                <th>12</th>
                <td>some part</td>
                <td>vendor</td>
            </tr>
        </tbody>
    </table>
    <!-- </div> -->
    <!-- </div> -->
