<nav *ngIf="pageinator">
    <div class="pagination">
        <ul>
            <li [class.disabled]="pageinator.prev_page_url == null">
                <a aria-label="Previous" (click)="onPageChange(pageinator.current_page-1)">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li *ngFor="#p of _starting_range" [class.active]="p == pageinator.current_page">
                <a *ngIf="p != -1" (click)="onPageChange(p)">{{p}}</a>
                <a *ngIf="p == -1">...</a>
            </li>
            <li [class.disabled]="pageinator.next_page_url == null">
                <a aria-label="Next" (click)="onPageChange(pageinator.current_page+1)">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
